<div class="form-main">
      <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" required="required">
            <input type="password" class="form-control" placeholder="Password" required="required">
            <button type="submit" class="btn btn-block signin" (click)="login()">Sign In</button>
            <span class="error">loginFailed</span>
      </div>
</div>
<div class="form-footer">
      <div class="row">
            <div class="col-xs-7"></div>
            <div class="col-xs-5 text-right"><a href="javascript:;" (click)="showSignUpcomp()">Sign Up</a></div>
      </div>
</div>