<!--The content below is only a placeholder and can be replaced.-->
<div class="todo-login signin-main">
      <div class="container">
            <div class="row">
                  <div class="form-wrap">

                        <!--div class="title hidden-sm hidden-xs">
                              <h1>TODO LIST</h1>
                              <h5>Create your own task list</h5>
                              <div class="overlay" ></div>
                              <span class="statusTxt">pageStatus</span>
                        </div-->            

                        <div class="login">    
                          <router-outlet></router-outlet>
                        </div> 

                  </div>
            </div>
      </div>
</div>



